.escudosSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--cinza-medio);
    padding: 4rem 0;
    width: 100%;
}

.escudosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.escudoCard {
    background: var(--cinza-claro);
    border-radius: 5px;
    box-shadow: 0 2px 12px #2c2c2e0d;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    width: 220px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: box-shadow 0.2s, transform 0.2s;
    cursor: pointer;
    animation: fadeInUp 0.7s;
}


.escudoCard:hover {
    box-shadow: 0 6px 24px #2c2c2e22;
    transform: translateY(-4px) scale(1.03);
}


.escudoImg {
    width: 185px;
    height: 60%;
    object-fit: cover;
}


.escudoAno {
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--cinza-escuro);
    text-align: center;
    height: 7.5%;
}


.escudoText {
    color: var(--cinza);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    height: 5%;
}
