.footer {
    background-color: var(--preto);
    color: var(--branco);
    padding: 2rem 1rem;
    text-align: center;
    margin-top: auto;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.socials a {
    transition: opacity 0.3s ease;
}

.socials a:hover {
    transform: scale(1.2);
    transition: 1s;
}

.footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: var(--cinza);
}

.footer a {
    color: var(--branco);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}